apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - storeserviceat.yml
  - storeserviceat-service.yaml
  - storeserviceat-ingress.yaml
images:
  - name: storeserviceat
    newName: natanborrges/storeserviceat
    newTag: 1.03ALPHA
